@font-face {
  font-family: "TrajanProRegular";
  src: url(../assets/fonts/TrajanPro-Regular.ttf); }

#mainNav {
  background-color: black;
  height: 25vh; }
  #mainNav .container .navbar-toggler {
    color: white;
    font-size: 1.2em; }
  #mainNav .container #navbarResponsive .navbar-nav {
    background-color: black;
    padding: 20px; }
    #mainNav .container #navbarResponsive .navbar-nav a {
      color: white;
      font-weight: bold;
      font-size: 1.2em;
      float: right;
      position: sticky; }
