body {
    @include reseteoGeneral;
    @font-face
        font-family: "TrajanProRegular";
        src: url(../assets/fonts/TrajanPro-Regular.ttf);
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}