body {
    @include reseteoGeneral;
    @font-face {
        font-family: "TrajanProRegular";
        src: url(../assets/fonts/TrajanPro-Regular.ttf);}
    color: white;
    background-color: $background-principal;
    height: 100vh;
}