@mixin reseteoDeListas {
    list-style-type: none;
    text-decoration: none;
    a:link,
    a:visited,
    a:active {
        list-style-type: none;
        text-decoration: none;
    }
}

@mixin reseteoGeneral {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
